.loader {
  background-image: linear-gradient(#e11d63 35%, #e11d63);
  width: 100px;
  height: 100px;
  animation: loading 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px #e11d63, 0px 5px 20px 0px #e11d63;
}

.loader-inner {
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.tiptap {
  min-height: 180px;
  outline: none;
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  padding: 0;
}

.tiptap p {
  margin: 0 0 8px 0;
}

.tiptap ul,
.tiptap ol {
  padding-left: 20px;
}

.tiptap:focus {
  outline: none;
}

.tiptap * {
  white-space: pre-wrap;
  word-break: break-word;
}

.tiptap ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.tiptap ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.tiptap li {
  margin: 4px 0;
}
